<html>
	<body>
		<div style="width: 100%;">
			<div style="width: 65%; margin: 10px auto;">
				<p>Someone has requested this password reset for your account.
					Click the link to reset your password.  </p>

					<p><%= link_to "Reset Password Link", @url %></p>

			</div>
		</div>
	</body>
</html>