<h1>Reset Password</h1>

<form action="<%= password_reset_users_url %>" method="post" accept-charset="utf-8">
	<input type="hidden" name="authenticity_token"
				 value="<%= form_authenticity_token %>">

  <div class="form-group">
    <label>
      Email
      <input type="text" name="user[email]">
    </label>
  </div>

	<p><input type="submit" value="Reset Password"></p>
</form>
