<h1>Your Posts</h1>

<ul class="list-group">
  <% @posts.each do |post| %>
    <li><%= link_to post.title, post_url(post) %></li>
  <% end %>
</ul>

<%= link_to 'Create a Post', new_post_url, class: 'btn btn-success' %>

<h1>Your Friend Circles</h1>

<ul class="list-group">
  <% @circles.each do |circle| %>
    <li><%= link_to circle.name, friend_circle_url(circle) %></li>
  <% end %>
</ul>

<%= link_to 'Create a Friend Circle', new_friend_circle_url,
    class: 'btn btn-success' %>
