/* Manually import Bootstrap components used so we only get necessary CSS. */
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/grid";
@import "bootstrap/forms";
@import "bootstrap/tables";
@import "bootstrap/buttons";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/pagination";
@import "bootstrap/alerts";
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";
@import "bootstrap/list-group";

.content-main {
  margin-top: 20px;
}

.button_to {
  float: left;
  margin-right: 5px;
}

input[type="text"],
input[type="date"],
input[type="password"],
select,
textarea {
  @extend .form-control;
}

.user-controls {
  padding: 10px;
  .button_to {
    float: right;
  }
  .button_to {
    float: right;
  }
}

